/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
 

}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
   height: 150%;
   width: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.logos
{
 margin-left: 50px;
 
}
.logos,h3
{
  text-align: center;
}
